@model TinTucMoiNhat.Models.news

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/ckeditor/ckeditor.js"></script>
<link href="~/Scripts/dropzone/dropzone.css" rel="stylesheet" />
<script src="~/Scripts/dropzone/dropzone.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
@*<script src="~/Scripts/postnewsadmin.js"></script>*@
<div class="col-md-12" style="min-height:200px;">
    <h1 style="text-align:center;">Sửa Bài</h1>
    <div class="row" style="width:75%;top:25%;left:12%;background:#f4f4f4;color:#000000;position:relative;padding-left:5px;padding-right:5px;text-align:left;display:block;z-index:1002;" id="dv_user_comment">
        <div>
            <form class="form-horizontal" action="/News/EditNews" method="post" id="register">
                <fieldset>
                    <legend class="text-center">Thông tin</legend>
                    <input id="user_id" name="user_id" type="hidden" value="@ViewBag.user_id"/>
                    <!-- Name input-->
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="name">Tiêu đề bài viết</label>
                        <div class="col-md-9">
                            <input id="name" name="name" type="text" placeholder="Tiêu đề bài viết" class="form-control" value="@Model.name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="name">Tóm tắt</label>
                        <div class="col-md-9">
                            <textarea id="des" name="des" class="form-control" placeholder="Tóm tắt ngắn" style="height:67px;" maxlength="256">@Model.des</textarea>
                        </div>
                    </div>
                    <!-- Email input-->
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="email">Danh Mục</label>
                        <div class="col-md-9">
                            <select class="form-control" id="cat_id" name="cat_id">
                                <option value="-1" selected>Chọn Danh Mục</option>
                                @*<option value="0">Tin nóng</option>
                                    <option value="1">Thế giới</option>
                                    <option value="2">Kinh doanh</option>
                                    <option value="3">Giải trí</option>
                                    <option value="4">Thể thao</option>*@
                                <option value="668">Đời Sống</option>
                                <option value="999">Tâm sự</option>
                                <option value="666">Bạn đọc viết</option>
                                <option value="888">Doanh nghiệp viết</option>
                            </select>
                            <script>
                                document.getElementById("cat_id").value=@Model.cat_id;
                            </script>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Ảnh đại diện</label>
                        <div class="col-md-10">
                            <input id="image" name="image" type="hidden" value="@Model.image" />
                            <div id="img_div">
                                <img style="width: 100px; height: 100px" src="@Model.image" /><a href="#" id="remove_img">Xóa ảnh</a>
                            </div>
                            <div id="hinhanh_tintuc" class="dropzone" style="width: 200px;">
                                <div class="dz-default dz-message" data-dz-message>
                                    <span><i class="fa fa-plus fa-2x"></i> Tải ảnh lên.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Tải ảnh chèn vào bài viết (kéo thả vào ô Nội dung chính bên dưới)</label>
                        <div class="col-md-10">
                            <div id="hinhanh_baiviet" class="dropzone" style="padding: 0; height: 27px; min-height: 0; width: 200px; background: #5993c5; color: #fff;">
                                <div class="dz-default dz-message" data-dz-message style="margin: 0;">
                                    <span><i class="fa fa-plus fa-2x"></i> Tải ảnh bài viết.</span>
                                </div>
                            </div>
                            <div class="anhbaiviet1">

                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="name">Nội dung chính</label>
                        <div class="col-md-9">
                            <textarea id="full_content" name="full_content" class="form-control">@Model.full_content</textarea>
                        </div>
                    </div>
                    <input type="button" value="SỬA BÀI" class="btn btn-primary btn-block" onclick="updatenews();" style="margin-bottom:5px;" id="btnsubmit" />
                </fieldset>
            </form>
        </div>

    </div>
</div>
<script>
    $(function () {
        CKEDITOR.replace('full_content',
        {
            uiColor: '#337ab7',
            height: '300px',
        });
    });

    Dropzone.autoDiscover = false;
    var upanhbaiviet = new Dropzone("div#hinhanh_tintuc", {
        url: "/News/uploadimg",
        addRemoveLinks: true,
        maxFiles: 1,
        maxFilesize: 5,
        uploadMultiple: true,
        acceptedFiles: "image/*",
        dictFallbackMessage: "Trình duyệt của bạn không hỗ trợ kéo thả tệp để tải lên.",
        dictFallbackText: "Please use the fallback form below to upload your files like in the olden days.",
        dictFileTooBig: "Tệp có dung lượng quá lớn ({{filesize}}MiB). Dung lượng cho phép: {{maxFilesize}}MiB.",
        dictInvalidFileType: "Tệp bạn chọn không được phép tải lên.",
        dictResponseError: "Đã xảy ra lỗi {{statusCode}}.",
        dictCancelUpload: "Hủy tải lên",
        dictCancelUploadConfirmation: "Bạn chắc chắn muốn hủy tải lên?",
        dictRemoveFile: "Loại bỏ tệp tin",
        dictMaxFilesExceeded: "Bạn không thể tải lên quá 1 hình.",
        success: function (file, response) {
            var imgPath = response.Message;
            if (imgPath !== "") {
                $("#image").val(imgPath);
                $('#img_div').show();
                file.previewElement.classList.add("dz-success");
                if ($('#img_div').length) {
                    $('#img_div').find('img').attr('src', imgPath);
                }

            }
        },
        error: function (file, response) {
            file.previewElement.classList.add("dz-error");
            $(file.previewElement).find('.dz-error-message').text(response);
            //alert(response);
        },
        HiddenFilesPath: 'body'
    });

    //hinhanh_baiviet
    var hinhanh_baiviet = new Dropzone("div#hinhanh_baiviet", {
        url: "/News/uploadimg",
        addRemoveLinks: true,
        maxFiles: 10,
        maxFilesize: 5,
        uploadMultiple: true,
        acceptedFiles: "image/*",
        dictFallbackMessage: "Trình duyệt của bạn không hỗ trợ kéo thả tệp để tải lên.",
        dictFallbackText: "Please use the fallback form below to upload your files like in the olden days.",
        dictFileTooBig: "Tệp có dung lượng quá lớn ({{filesize}}MiB). Dung lượng cho phép: {{maxFilesize}}MiB.",
        dictInvalidFileType: "Tệp bạn chọn không được phép tải lên.",
        dictResponseError: "Đã xảy ra lỗi {{statusCode}}.",
        dictCancelUpload: "Hủy tải lên",
        dictCancelUploadConfirmation: "Bạn chắc chắn muốn hủy tải lên?",
        dictRemoveFile: "Loại bỏ tệp tin",
        dictMaxFilesExceeded: "Bạn không thể tải lên quá 1 hình.",
        success: function (file, response) {
            var imgPath = response.Message;
            if (imgPath !== "") {
                //file.previewElement.classList.add("dz-success");
                this.removeFile(file);
                if ($('.anhbaiviet1').length) {
                    var img = "<img style='width: 100px; height: 100px; margin-right: 5px;' src='" + imgPath + "' />";
                    //console.log(img);
                    $('.anhbaiviet1').append(img);
                }
            }
        },
        error: function (file, response) {
            //file.previewElement.classList.add("dz-error");
            //$(file.previewElement).find('.dz-error-message').text(response);
            alert(response);
            this.removeFile(file);
        },
        HiddenFilesPath: 'body'
    });
    if ($('#remove_img').length) {
        $('#remove_img').on('click', function (e) {
            $('#image').val('');
            $('#img_div').hide();
            e.preventDefault();
        })
    }
    function updatenews() {

        if ($("#name").val() == "-1") {
            alert("Nhập tiêu đề!");
            return;
        }
        if ($("#des").val() == "") {
            alert("Nhập mô tả ngắn!");
            return;
        }
        if ($("#cat_id").val() == "-1") {
            alert("Chọn danh mục!");
            return;
        }
        //if ($("#full_content").val() == "") {
        //    alert("Nhập Nội Dung!");
        //    return;
        //}
        if ($("#image").val() == "") {
            alert("Tải lên ảnh đại diện");
            return;
        }
        var content = CKEDITOR.instances['full_content'].getData();
        $.ajax({
            url: "/News/EditNews", type: 'post',
            contentType: 'application/json',
            data: JSON.stringify({
                name: $("#name").val(), des: $("#des").val(), full_content: content, image: $("#image").val(), cat_id: $("#cat_id").val(), id: @Model.id
            }),
            success: function (rs) {
                if (rs == '1') {
                    location.reload();
                } else {
                    alert(rs);
                }
            }
        })
    }
</script>
<a href="/news/index">Quay lại Danh sách tin</a>