@model IEnumerable<TinTucMoiNhat.Models.news>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Danh sách tin tức</h2>
<div class="col-md-12">
    <form id="searchForm">
        <input type="text" class="form-control" placeholder="Từ khóa" id="keyword" >
        <input type="button" class="form-control btn-default"  value="Tìm" onclick="search();">
    </form>
</div>
<script>
    function search() {
        if (document.getElementById("keyword").value == "") {
            document.getElementById("keyword").focus();
            alert("Nhập từ khóa");
            return;
        }
        window.location.href = "/news/index?keyword=" + document.getElementById("keyword").value;
    }
</script>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table marginBottom0">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.des)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.link)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cat_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date_time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pdf)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.loads)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        var link = "/" + TinTucMoiNhat.Config.getCatName(item.cat_id) + "/" + TinTucMoiNhat.Config.unicodeToNoMark(item.name) + "-" + item.id;
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
                @if (item.status == 1)
                {
                    <span style="color:red;"><i>Chưa duyệt</i></span>
                }
            </td>
            <td>
                @Html.Raw(item.des)
            </td>
            <td>
                <img src="http://tintucmoinhat.vn/@item.image" style="width:100px;height:100px;">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.link)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cat_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date_time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pdf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.loads)
            </td>
            <td>
                <a href="@link">Chi tiết</a>|
                @if (item.status == 0) { 
                    <button value="Gỡ Bài" onclick="hidepost(@item.id,1);">Gỡ bài</button>
                }else{
                    <button value="Hiện Bài" onclick="hidepost(@item.id,0);">Duyệt bài</button>
                }
                |
                @Html.ActionLink("Sửa", "Sửa", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
                
            </td>
        </tr>
    }

</table>
<script>
    function hidepost(id,status) {
        $.ajax({
            url: "/news/hidepost", type: 'post',
            data: { id: id, status:status},
            success: function (rs) {
                if (rs == '1') {
                    alert("Cập nhật thành công!");
                } else {
                    alert("Cập nhật thất bại");
                }
            }
        });
    }
</script>