<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title - Tin tức mới nhất</title>
    @RenderSection("metatags", false)
    <link rel="stylesheet" href="/Content/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Content/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="/Content/assets/css/font.css">
    <link rel="stylesheet" href="/Content/assets/css/animate.css">
    <link rel="stylesheet" href="/Content/assets/css/structure.css">
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-102158489-1', 'auto');
        ga('send', 'pageview');
    </script>
</head>
<body>
    @*<div id="preloader">
        <div id="status">&nbsp;</div>
    </div>*@
    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.9&appId=1930351307185969";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
    <script>
        function search() {
            if (document.getElementById("keyword").value == "") {
                document.getElementById("keyword").focus();
                alert("Nhập từ khóa");
                return;
            }
            window.location.href = "/home/search?keyword=" + document.getElementById("keyword").value;
        }
    </script>
    <a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
    <header id="header">
        <div class="container">
            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                        <a class="navbar-brand" href="/tin-nong-0/1"><span>Tin Nóng</span></a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav custom_nav">                            
                            <li class=""><a href="/the-gioi-1/1">Thế giới</a></li>
                            <li class=""><a href="/kinh-doanh-2/1">Kinh doanh</a></li>
                            <li class=""><a href="/giai-tri-3/1">Giải trí</a></li>
                            <li class=""><a href="/the-thao-4/1">Thể thao</a></li>  
                            <li class=""><a href="/fanpage/all-0/1">Tin tức facebook</a></li>  
                            <li class=""><a href="/youtube/all-0/1">Video giải trí</a></li>  
                            @*<li><div class="fb-like" data-href="http://tintucmoinhat.vn" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div></li>*@                         
                        </ul>
                    </div>
                </div>
            </nav>
            <form id="searchForm">
                <input type="text" placeholder="Từ khóa" id="keyword" style="border:1px solid #ffffff;width:135px;float: left;">
                <input type="button" class="submit btn" style="background: #4cff00;border: 0 none;float: left;font-size: 10;height: 35px;width:40px;" value="Tìm" onclick="search();">
            </form>
        </div>
    </header>
    <section id="contentbody">
        @RenderBody()
       
    </section>
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="footer_inner">
                        <p class="pull-left">&copy; @DateTime.Now.Year - Tin tức mới nhất - Ứng dụng xử lý ngôn ngữ tự nhiên trong trí tuệ nhân tạo. Tự động lấy tin từ các báo &nbsp;<div class="fb-like" data-href="http://tintucmoinhat.vn" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div></p>
                        <p class="pull-right">vnnvh80@gmail.com - 0979776427</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="/Content/assets/js/jquery.min.js"></script>
    <script src="/Content/assets/js/bootstrap.min.js"></script>
    <script src="/Content/assets/js/wow.min.js"></script>
    <script src="/Content/assets/js/custom.js"></script>
    @*@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)*@
</body>
</html>
