@model TinTucMoiNhat.Models.news

@{
    ViewBag.Title = Model.name;
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.url = "http://tintucmoinhat.vn/" + Config.getCatName(Model.cat_id) + "/" + Config.unicodeToNoMark(Model.name) + "-" + Model.id;
    string imagetb = Model.image;
    if (!imagetb.StartsWith("http") && !imagetb.StartsWith("www")) {imagetb = "http://tintucmoinhat.vn/" + imagetb;}
    
}
@section metatags {
    <meta name="description" content="@Html.Raw(ViewBag.des)">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="robots" content="index,follow,noodp">
    <meta property="fb:app_id" content="1930351307185969" />
    <meta property="og:locale" content="vi_VN">
    <meta property="og:type" content="Chi tiết tin tức">
    <meta property="og:url" content="@ViewBag.url">
    <meta property="og:title" content="@Html.Raw(ViewBag.Title)">
    <meta property="og:description" content="@Html.Raw(ViewBag.des)">
    <meta property="og:image" itemprop="thumbnailUrl" content="@imagetb">
}
<style>
    /*img{
        max-width:600px;
    }*/
    p {
        margin: 0 0 10px;
        font-family: 'Tinos','Roboto';
        font-size: 20px;
    }
</style>

<div class="container">
    <div class="row">
        <div class=" col-sm-12 col-md-10 col-lg-6" style="background:#ffffff;border:solid 1px #ffd800;margin:5px 5px 5px 5px;z-index:1001;">
            <div class="row">
                <div class="leftbar_content" style="padding-top: 5px; padding-right: 5px; padding-bottom: 50px; padding-left: 8px; ">
                    @if (Model.status == 0) { 
                        <h1>@Model.name</h1>                    
                        <p><span class="datetime">Ngày @Model.date_time.Value.Day/@Model.date_time.Value.Month/@Model.date_time.Value.Year @Model.time</span></p>
                        <p>@Html.Raw(HttpUtility.HtmlDecode(Model.full_content))</p>
                        <p>Nguồn bài báo: <a href="@Model.link" rel="nofollow">@Model.link</a></p>
                    }
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- auto resize in content -->
                    <ins class="adsbygoogle"
                         style="display:block"
                         data-ad-client="ca-pub-6575239088642506"
                         data-ad-slot="5127071673"
                         data-ad-format="auto"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                   
                    <!-- // End Ad Tag -->
                    @*<script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US&adInstanceId=3962e99d-d796-4701-97de-c298745573bd"></script>*@
                    <iframe width="100%" height="250" src="https://lap.lazada.com/banner/dynamic.php?banner_id=5997d00c1d56c&theme=2&p=3" frameborder="0" scrolling="no"></iframe>
                    <div class="single_blog_sidebar wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;width:100%;">
                        <h2>Quảng cáo</h2>
                        <div class="stuff_article_inner" style="background: none repeat scroll 0 0 #09c;color:#ffffff;"><p style="padding:5px 5px 5px 5px;">Liên hệ đặt banner quảng cáo</p><p style="padding:5px 5px 5px 5px;">Phone:<a href="tel:0979776427" style="color:yellow;">0979776427</a>, Email vnnvh80@gmail.com</p></div>
                    </div>
                    @if (Model.pdf != null)
                    {<p><span class="stuff_date"><a href="@Model.pdf"><img src="~/Content/images/pdf.png" style="width:32px;height:32px;"></a></span></p>}
                    <iframe src="https://www.facebook.com/plugins/like.php?href=@ViewBag.url&width=450&layout=standard&action=like&size=small&show_faces=true&share=true&height=80&appId=1930351307185969" width="450" height="80" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowtransparency="true"></iframe>
                    <div class="fb-comments" data-href="@ViewBag.url" data-numposts="15"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-2 col-lg-2">
            <div class="row">
                <div class="middlebar_content">
                    <h2 class="yellow_bg">Tin liên quan</h2>
                    <div class="middlebar_content_inner wow fadeInUp">
                        <ul class="middlebar_nav">
                            @foreach (var item in ViewBag.news)
                            {
                                var link = "/" + TinTucMoiNhat.Config.getCatName(item.cat_id) + "/" + TinTucMoiNhat.Config.unicodeToNoMark(item.name) + "-" + item.id;
                                <li><a class="mbar_thubnail" href="@link"><img src="@item.image" alt="" style="width:70px;height:70px;"></a><a class="mbar_title" href="@link">@item.name</a> </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3" >
            <div class="row">
                <div class="rightbar_content">
                    <div class="single_blog_sidebar wow fadeInUp">
                        <h2>Quảng cáo</h2>
                        <iframe width="100%" height="695" src="https://lap.lazada.com/banner/dynamic.php?banner_id=5997d122dd659&theme=3&p=6" frameborder="0" scrolling="no"></iframe>
                        @*<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                        <ins class="adsbygoogle"
                             style="display:inline-block;width:300px;height:250px"
                             data-ad-client="ca-pub-6575239088642506"
                             data-ad-slot="8243327678"></ins>
                        <script>
                             (adsbygoogle = window.adsbygoogle || []).push({});
                        </script>*@
                        <div class="stuff_article_inner" style="background: none repeat scroll 0 0 #09c;color:#ffffff;"><p style="padding:5px 5px 5px 5px;">Liên hệ đặt banner quảng cáo</p><p style="padding:5px 5px 5px 5px;">Phone:<a href="tel:0979776427" style="color:yellow;">0979776427</a>, Email vnnvh80@gmail.com</p></div>
                        
                    </div>
                    @*<div class="single_blog_sidebar wow fadeInUp">
                        <h2>Đọc Nhiều Nhất</h2>
                        <ul class="middlebar_nav wow">
                            @foreach (var item in ViewBag.ppl)
                            {
                                var link = "/" + TinTucMoiNhat.Config.getCatName(item.cat_id) + "/" + TinTucMoiNhat.Config.unicodeToNoMark(item.name) + "-" + item.id;
                                <li><a class="mbar_thubnail" href="@link"><img src="@item.image" alt=""></a><a class="mbar_title" href="@link">@item.name</a> </li>
                            }
                        </ul>
                    </div>*@
                </div>
            </div>
        </div>

    </div>
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $('a[href^="http"]').attr('rel', 'nofollow');
</script>
<script>
    //alert($(window).width());
    if ($(window).width() >= 700) {
        $("img").css("max-width", "600px");
        $("video").css("max-width", "600px");

    } else if ($(window).width() >= 400) {
        $("img").css("max-width", "400px");
        $("video").css("max-width", "400px");
    } else {
        $("img").css("max-width", "310px");
        $("video").css("max-width", "310px");
    }
</script>