@model PagedList.IPagedList<TinTucMoiNhat.Models.post>
@using PagedList.Mvc;
@{
    ViewBag.Title = ViewBag.catfullname+" trang "+ ViewBag.pg;
    if (ViewBag.catfullname == "all") { ViewBag.Title = "Tin tức facebook trang " + ViewBag.pg; }
}
@section metatags {
    <meta name="description" content="tin tuc facebook, tin nong facebook, facebook nổi tiếng, @ViewBag.catfullname trang @ViewBag.pg">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="robots" content="index,follow,noodp">
    <meta property="fb:app_id" content="1930351307185969" />
    <meta property="og:locale" content="vi_VN">
    <meta property="og:type" content="Chi tiết tin tức">
    <meta property="og:url" content="http://tintucmoinhat.vn/fanpage/@ViewBag.catname-@ViewBag.page_id/@ViewBag.pg">
    <meta property="og:title" content="@Html.Raw(ViewBag.Title)">
    <meta property="og:description" content="tin tuc facebook, tin nong facebook, facebook nổi tiếng, @ViewBag.catfullname trang @ViewBag.pg">
    <meta property="og:image" itemprop="thumbnailUrl" content="http://tintucmoinhat.vn/content/images/fb.png">
}
<div class="container">
    <div class="row">
        <div class=" col-sm-12 col-md-6 col-lg-6">
            <div class="row">
                <div class="leftbar_content">
                    <h2>@ViewBag.Title</h2>
                    @*@foreach (var item in Model)
                    {
                        @Html.Raw(TinTucMoiNhat.Config.embededPost(@item.url, @item.post_id, @item.message, @item.domain, @item.domain_name, @item.create_time))
                    }*@
                    <ul class="middlebar_nav">
                        @foreach (var item in Model)
                        {
                            var link = "/fanpost/bai-viet/" + TinTucMoiNhat.Config.unicodeToNoMark(item.domain_name) + "-" + item.id;
                            @*<li>
                                <div class="clearfix _5x46 _4d-l"><a class="_5pb8 _29h _303" href="@link" aria-hidden="true" tabindex="-1" target="_blank" data-ft="{&quot;tn&quot;:&quot;\u003C&quot;}"><div class="_38vo"><img class="_s0 _4ooo _5xib _5sq7 _44ma _rw img" src="@item.avatar" alt="" aria-label="@item.domain_name" role="img"></div></a><div class="_302"><span><a href="@link" target="_blank"><i class="img sp_post-plugin sx_post-plugin_favicon"></i></a></span></div><div class="_3dp _29k"><div><div class="_6a"><div class="_6a _6b" style="height:40px"></div><div class="_6a _6b"><div class="_2_79 _50f4 _50f7">@item.domain_name<span class="_56_f _5dzy _5dz_ _3twv"></span></div><a class="_39g5" href="@link" target="_blank"><abbr title="@item.create_time" data-utime="1500484582" class="timestamp"><span class="timestampContent">@item.create_time</span></abbr></a></div></div></div></div></div>
                                
                                <a class="mbar_title" href="@link">@Config.smoothTitle(@item.message)</a> 
                            </li>*@
                            <div class="single_stuff wow fadeInDown" style="min-height:250px;">
                                <div class="single_stuff_img"> <a href="@link"><img src="@item.image" style="max-height:350px;"></a> </div>
                                <div class="single_stuff_article">
                                    <div class="single_sarticle_inner">
                                        <a class="stuff_category" href="#"><img class="_s0 _4ooo _5xib _5sq7 _44ma _rw img" src="@item.avatar" alt="" aria-label="@item.domain_name" role="img"><b>@item.domain_name</b></a>
                                        <div class="stuff_article_inner">
                                            <h2><a href="@link">@Config.smoothTitle(@item.message)</a></h2>
                                            <p>Ngày @item.date_post.Value.Day/@item.date_post.Value.Month/@item.date_post.Value.Year @item.date_post.Value.TimeOfDay</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </ul>
                    <div class="stuffpost_paginatinonarea wow slideInLeft">
                        <ul class="newstuff_pagnav">
                            @*<li><a class="active_page" href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>*@
                            @for (int pg = 1; pg < 10; pg++)
                            {
                                <li><a href="/fanpage/@ViewBag.catname-@ViewBag.page_id/@pg">@pg</a></li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-2 col-lg-2">
            <div class="row">
                <div class="middlebar_content">
                    <h2 class="yellow_bg">Fanpage</h2>
                    <div class="middlebar_content_inner wow fadeInUp">
                        <ul class="middlebar_nav">
                            @foreach (var item in ViewBag.news)
                            {
                                var link = "/fanpage/" + TinTucMoiNhat.Config.unicodeToNoMark(item.name) + "-" + item.page_id+"/1";
                                <li>@*<a class="mbar_thubnail" href="@link"><img src="@item.image" alt=""></a>*@<a class="mbar_title" href="@link">@item.name</a> </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="row">
                <div class="rightbar_content">
                    <div class="single_blog_sidebar wow fadeInUp">
                        <h2>Quảng cáo</h2>
                        @*<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>                        
                        <ins class="adsbygoogle"
                             style="display:inline-block;width:300px;height:250px"
                             data-ad-client="ca-pub-6575239088642506"
                             data-ad-slot="8243327678"></ins>
                        <script>
                             (adsbygoogle = window.adsbygoogle || []).push({});
                        </script>*@
                        <div class="stuff_article_inner" style="background: none repeat scroll 0 0 #09c;color:#ffffff;"><p style="padding:5px 5px 5px 5px;">Liên hệ đặt banner quảng cáo</p><p style="padding:5px 5px 5px 5px;">Phone:<a href="tel:0979776427" style="color:yellow;">0979776427</a>, Email vnnvh80@gmail.com</p></div>
                    </div>
                    @*<div class="single_blog_sidebar wow fadeInUp">
                        <h2>Đọc Nhiều Nhất</h2>
                        <ul class="middlebar_nav wow">
                            @foreach (var item in ViewBag.ppl)
                            {
                                var link = "/" + TinTucMoiNhat.Config.getCatName(item.cat_id) + "/" + TinTucMoiNhat.Config.unicodeToNoMark(item.name) + "-" + item.id;
                                <li><a class="mbar_thubnail" href="@link"><img src="@item.image" alt=""></a><a class="mbar_title" href="@link">@item.name</a> </li>
                            }
                        </ul>
                    </div>*@
                   
                </div>
            </div>
        </div>
    </div>
</div>