@model TinTucMoiNhat.Models.post

@{
    string smoothTitle = Config.smoothTitle(Model.message);
    ViewBag.Title = smoothTitle + " - " + Model.domain_name;
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.url = "http://tintucmoinhat.vn/fanpost/bai-viet/" + Config.unicodeToNoMark(Model.domain_name) + "-" + Model.id;
    string imagetb = Model.image;
    if (!imagetb.StartsWith("http") && !imagetb.StartsWith("www")) { imagetb = "http://tintucmoinhat.vn/" + imagetb; }
    //string urlSmooth = Model.domain;
    
}
@section metatags {
    <meta name="description" content="@Html.Raw(ViewBag.des)">
    <meta name="keywords" content="">
    <meta name="author" content="@Model.domain_name">
    <meta name="robots" content="index,follow,noodp">
    <meta property="fb:app_id" content="1930351307185969" />
    <meta property="og:locale" content="vi_VN">
    <meta property="og:type" content="facebook post">
    <meta property="og:url" content="@ViewBag.url">
    <meta property="og:title" content="@Html.Raw(ViewBag.Title)">
    <meta property="og:description" content="@Html.Raw(ViewBag.des)">
    <meta property="og:image" itemprop="thumbnailUrl" content="@HttpUtility.UrlDecode(@imagetb)">
}
<style>
    /*img {
        max-width: 600px;
    }*/
    p {
        margin: 0 0 10px;
        font-family: 'Tinos','Roboto';
        font-size: 20px;
    }
    .widget-area {
    background-color: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
    -ms-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
    -o-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
    float: left;
    margin-top: 30px;
    padding: 25px 30px;
    position: relative;
    width: 100%;
    }
</style>
<link rel="stylesheet" type="text/css" href="~/Content/comment.css">
<div class="container">
    <div class="row">
        <div class=" col-sm-12 col-md-10 col-lg-9" style="background:#ffffff;border:solid 1px #ffd800;margin:5px 5px 5px 5px;z-index:1001;">
            <div class="row">
                <div class="leftbar_content" style="padding-top: 5px; padding-right: 5px; padding-bottom: 50px; padding-left: 8px; ">
                    <p><span class="datetime">Ngày @String.Format("{0:dd/MM/yyyy hh:mm tt}", @Model.date_post)</span></p>
                    @Html.Raw(TinTucMoiNhat.Config.embededPost(@Model.url, @Model.post_id, @Model.message, @Model.domain, @Model.domain_name, @Model.create_time))
                    @if (Model.full_content != null) { 
                        <p>@Html.Raw(HttpUtility.HtmlDecode(Model.full_content))</p>
                        <p>Nguồn bài báo: <a href="@Model.full_link" rel="nofollow">@Model.full_link</a>, @Model.loads lượt xem</p>
                    }
                    else
                    {
                        <p>Nguồn bài báo: <a href="@Model.link" rel="nofollow">@Model.link</a>, @Model.loads lượt xem</p>
                    }
                    
                    @*<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    
                    <ins class="adsbygoogle"
                         style="display:block"
                         data-ad-client="ca-pub-6575239088642506"
                         data-ad-slot="5127071673"
                         data-ad-format="auto"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>*@
                    <!-- // End Ad Tag -->
                    @*<script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US&adInstanceId=3962e99d-d796-4701-97de-c298745573bd"></script>*@
                    @*<iframe width="100%" height="250" src="https://lap.lazada.com/banner/dynamic.php?banner_id=5997d00c1d56c&theme=2&p=3" frameborder="0" scrolling="no"></iframe>*@
                    @*<div class="single_blog_sidebar wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;width:100%;">
                        <h2>Quảng cáo</h2>
                        <div class="stuff_article_inner" style="background: none repeat scroll 0 0 #09c;color:#ffffff;"><p style="padding:5px 5px 5px 5px;">Liên hệ đặt banner quảng cáo</p><p style="padding:5px 5px 5px 5px;">Phone:<a href="tel:0979776427" style="color:yellow;">0979776427</a>, Email vnnvh80@gmail.com</p></div>
                    </div>*@
                    <iframe src="https://www.facebook.com/plugins/like.php?href=@ViewBag.url&width=450&layout=standard&action=like&size=small&show_faces=true&share=true&height=80&appId=1930351307185969" width="450" height="80" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowtransparency="true"></iframe>
                    <div class="fb-comments" data-href="@ViewBag.url" data-numposts="15"></div>
                    <div class="comments-container">
                        <h1>Bình Luận</h1>
                        <ul id="comments-list-@Model.id" class="comments-list">
                            @{Html.RenderAction("listCommentFacebook", new { id = Model.id });}
                        </ul>
                    </div>
                    <div class="widget-area no-padding blank">
                        <div class="status-upload">
                            <form>
                                <textarea placeholder="Ý Kiến Của Bạn?" id="full_comment" class="form-control" style="width:100%;" rows="7"></textarea>
                                @*<ul>
                                    <li><a title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Audio"><i class="fa fa-music"></i></a></li>
                                    <li><a title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Video"><i class="fa fa-video-camera"></i></a></li>
                                    <li><a title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Sound Record"><i class="fa fa-microphone"></i></a></li>
                                    <li><a title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Picture"><i class="fa fa-picture-o"></i></a></li>
                                </ul>*@
                                <button type="button" class="btn btn-success green" onclick="sendcomment(@Model.id);"><i class="fa fa-share"></i> Gửi </button>
                            </form>
                        </div><!-- Status Upload  -->
                    </div><!-- Widget Area -->
                    @*<div class="fb-comments" data-href="@ViewBag.url" data-numposts="15"></div>*@
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-2 col-lg-2">
            <div class="row">
                <div class="middlebar_content">
                    <h2 class="yellow_bg">Tin liên quan</h2>
                    <div class="middlebar_content_inner wow fadeInUp">
                        <ul class="middlebar_nav">
                            @foreach (var item in ViewBag.news)
                            {
                                var link = "/fanpost/bai-viet/" + TinTucMoiNhat.Config.unicodeToNoMark(item.domain_name) + "-" + item.id;                                
                                <li><a class="mbar_thubnail" href="@link"><img src="@item.image" alt="" style="width:70px;height:70px;"></a><a class="mbar_title" href="@link">@Config.smoothTitle(@item.message)</a> </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        @*<div class="col-sm-6 col-md-3 col-lg-3">
            <div class="row">
                <div class="rightbar_content">
                    <div class="single_blog_sidebar wow fadeInUp">
                        <h2>Quảng cáo</h2>
                        <iframe width="100%" height="695" src="https://lap.lazada.com/banner/dynamic.php?banner_id=5997d122dd659&theme=3&p=6" frameborder="0" scrolling="no"></iframe>
                        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                        <ins class="adsbygoogle"
                             style="display:inline-block;width:300px;height:250px"
                             data-ad-client="ca-pub-6575239088642506"
                             data-ad-slot="8243327678"></ins>
                        <script>
                             (adsbygoogle = window.adsbygoogle || []).push({});
                        </script>
                        <div class="stuff_article_inner" style="background: none repeat scroll 0 0 #09c;color:#ffffff;"><p style="padding:5px 5px 5px 5px;">Liên hệ đặt banner quảng cáo</p><p style="padding:5px 5px 5px 5px;">Phone:<a href="tel:0979776427" style="color:yellow;">0979776427</a>, Email vnnvh80@gmail.com</p></div>

                    </div>
                    <div class="single_blog_sidebar wow fadeInUp">
                        <h2>Đọc Nhiều Nhất</h2>
                        <ul class="middlebar_nav wow">
                            @foreach (var item in ViewBag.ppl)
                            {
                                var link = "/" + TinTucMoiNhat.Config.getCatName(item.cat_id) + "/" + TinTucMoiNhat.Config.unicodeToNoMark(item.name) + "-" + item.id;
                                <li><a class="mbar_thubnail" href="@link"><img src="@item.image" alt=""></a><a class="mbar_title" href="@link">@item.name</a> </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>*@
    </div>
</div>
<script src='https://www.google.com/recaptcha/api.js?hl=vi'></script>
<div class="row" style="width:75%;top:25%;left:12%;background:#f4f4f4;color:#000000;position:fixed;padding-left:5px;padding-right:5px;text-align:left;display:none;z-index:1002;" id="dv_user_comment">
    <span onclick="$('#dv_user_comment').hide();" style="display:block;position:absolute;float:right;cursor:pointer;width:100%;">X</span>
    <div style="width:100%;text-align:center;color:#000000;" class="standardcss"><h2 id="driverphone">Gửi bình luận</h2></div>
    <div>
        <form class="form-horizontal" action="/News/Comment2" method="post" id="smcontent">
            <fieldset>
                <legend class="text-center">Thông tin</legend>
                <input id="full_content" name="full_content" type="hidden" />
                <input id="id_news" name="id_news" type="hidden" />
                <!-- Name input-->
                <div class="form-group">
                    <label class="col-md-3 control-label" for="name">Tên</label>
                    <div class="col-md-9">
                        <input id="user_name" name="user_name" type="text" placeholder="Gõ tên bạn" class="form-control" value="@ViewBag.user_name">
                    </div>
                </div>
                <!-- Email input-->
                <div class="form-group">
                    <label class="col-md-3 control-label" for="email">E-mail</label>
                    <div class="col-md-9">
                        <input id="user_email" name="user_email" type="text" placeholder="Nhập email" class="form-control" value="@ViewBag.user_email">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="email">Click để Xác nhận</label>
                    <div class="col-md-9">
                        <div class="g-recaptcha" data-sitekey="6LegNS8UAAAAANtQJISgU8vOUhomC26nOARvds-h"></div>
                    </div>
                </div>
                <input type="button" value="Hoàn Tất" class="btn btn-primary btn-block" onclick="submitcomment();" style="margin-bottom:5px;" />
            </fieldset>
        </form>
    </div>

</div>
<script>
    //alert($(window).width());
    if ($(window).width() >= 700) {
        $("img").css("max-width", "600px");
        $("video").css("max-width", "600px");
        
    } else if ($(window).width() >= 400) {
        $("img").css("max-width", "400px");
        $("video").css("max-width", "400px");
    } else {
        $("img").css("max-width", "310px");
        $("video").css("max-width", "310px");
    }
</script>
<script>
    var id_news = 0;
    var full_content = "";
    function sendcomment(id) {
        id_news = id;
        full_content = document.getElementById('full_comment').value.replace(/(\r\n|\n|\r)/gm, "");
        $('#full_content').val(full_content);
        $('#id_news').val(id_news);
        $('#dv_user_comment').show();
    }
    function submitcomment() {
        if (full_content == "") {
            alert("Nhập nội dung bình luận!");
            $('#dv_user_comment').hide();
            return;
        }
        if ($('#user_email').val() == "") {
            alert("Nhập email!");
            document.getElementById("user_email").focus();
            return;
        }
        if ($('#user_name').val() == "") {
            alert("Nhập tên bạn!");
            document.getElementById("user_name").focus();
            return;
        }
        document.getElementById("smcontent").submit();
    }
</script>
<script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async='async'></script>
<script>
    var OneSignal = window.OneSignal || [];
    OneSignal.push(["init", {
        appId: "d33eb61e-6b59-4087-a47e-76c762641c3b",
        autoRegister: false,
        notifyButton: {
            enable: true, /* Set to false to hide */
            position: 'bottom-left',
            prenotify: true,
            text: {
                'tip.state.unsubscribed': 'Subscribe to notifications',
                'tip.state.subscribed': "You're subscribed to notifications",
                'tip.state.blocked': "You've blocked notifications",
                'message.prenotify': 'Click to subscribe to notifications',
                'message.action.subscribed': "Thanks for subscribing!",
                'message.action.resubscribed': "You're subscribed to notifications",
                'message.action.unsubscribed': "You won't receive notifications again",
                'dialog.main.title': 'Quản Lý Thông Báo',
                'dialog.main.button.subscribe': 'Theo Dõi Tin Tức',
                'dialog.main.button.unsubscribe': 'Bỏ Theo Dõi Tin Tức',
                'dialog.blocked.title': 'Unblock Notifications',
                'dialog.blocked.message': "Follow these instructions to allow notifications:"
            }
        },
        welcomeNotification: {
            "title": "Đăng ký nhận tin mới nhất",
            "message": "Chúng tôi sẽ gửi tin mới nhất trong ngày cho bạn",
            /*"url": "",  Leave commented for the notification to not open a window on Chrome and Firefox (on Safari, it opens to your webpage) */
        },
        promptOptions: {
            /* actionMessage limited to 90 characters */
            actionMessage: "Chúng tôi muốn tự động thông báo khi có tin tức mới.",
            /* acceptButtonText limited to 15 characters */
            acceptButtonText: "Cho Phép",
            /* cancelButtonText limited to 15 characters */
            cancelButtonText: "Không"
        }
    }]);
</script>
<script data-cfasync="false">
    window.OneSignal = window.OneSignal || [];

    /* In milliseconds, time to wait before prompting user. This time is relative to right after the user presses <ENTER> on the address bar and navigates to your page */
    var notificationPromptDelay = 30000;

    /* Why use .push? See: http://stackoverflow.com/a/38466780/555547 */
    window.OneSignal.push(function () {
        /* Use navigation timing to find out when the page actually loaded instead of using setTimeout() only which can be delayed by script execution */
        var navigationStart = window.performance.timing.navigationStart;

        /* Get current time */
        var timeNow = Date.now();

        /* Prompt the user if enough time has elapsed */
        setTimeout(promptAndSubscribeUser, Math.max(notificationPromptDelay - (timeNow - navigationStart), 0));
    });

    function promptAndSubscribeUser() {
        window.OneSignal.isPushNotificationsEnabled(function (isEnabled) {
            if (!isEnabled) {
                /* Want to trigger different permission messages? See: https://documentation.onesignal.com/docs/permission-requests#section-onesignal-permission-messages */
                window.OneSignal.showHttpPrompt();
            }
        });
    }
</script>