@model PagedList.IPagedList<TinTucMoiNhat.Models.post>
@using PagedList.Mvc;
@{
    ViewBag.Title = ViewBag.catfullname+" trang "+ ViewBag.pg;
    if (ViewBag.catfullname == "all") { ViewBag.Title = "Tin tức facebook trang " + ViewBag.pg; }
}
@section metatags {
    <meta name="description" content="tin tuc facebook, tin nong facebook, facebook nổi tiếng, @ViewBag.catfullname trang @ViewBag.pg">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="robots" content="index,follow,noodp">
    <meta property="fb:app_id" content="1930351307185969" />
    <meta property="og:locale" content="vi_VN">
    <meta property="og:type" content="Chi tiết tin tức">
    <meta property="og:url" content="http://tintucmoinhat.vn/fanpage/@ViewBag.catname-@ViewBag.page_id/@ViewBag.pg">
    <meta property="og:title" content="@Html.Raw(ViewBag.Title)">
    <meta property="og:description" content="tin tuc facebook, tin nong facebook, facebook nổi tiếng, @ViewBag.catfullname trang @ViewBag.pg">
    <meta property="og:image" itemprop="thumbnailUrl" content="http://tintucmoinhat.vn/content/images/fb.png">
}
<div class="container">
    <div class="row">
        <div class=" col-sm-12 col-md-6 col-lg-6">
            <div class="row">
                <div class="leftbar_content">
                    <h1>@ViewBag.Title</h1>
                    @foreach (var item in Model)
                    {
                        @Html.Raw(TinTucMoiNhat.Config.embededPost(@item.url, @item.post_id, @item.message, @item.domain, @item.domain_name, @item.create_time))
                    }
                    <div class="stuffpost_paginatinonarea wow slideInLeft">
                        <ul class="newstuff_pagnav">
                            @*<li><a class="active_page" href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>*@
                            @for (int pg = 1; pg < Model.PageCount; pg++)
                            {
                                <li><a href="/fanpage/@ViewBag.catname-@ViewBag.page_id/@pg">@pg</a></li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-2 col-lg-2">
            <div class="row">
                <div class="middlebar_content">
                    <h2 class="yellow_bg">Fanpage</h2>
                    <div class="middlebar_content_inner wow fadeInUp">
                        <ul class="middlebar_nav">
                            @foreach (var item in ViewBag.news)
                            {
                                var link = "/fanpage/" + TinTucMoiNhat.Config.unicodeToNoMark(item.name) + "-" + item.page_id+"/1";
                                <li>@*<a class="mbar_thubnail" href="@link"><img src="@item.image" alt=""></a>*@<a class="mbar_title" href="@link">@item.name</a> </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="row">
                <div class="rightbar_content">
                    <div class="single_blog_sidebar wow fadeInUp">
                        <h2>Quảng cáo</h2>
                        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                        <!-- right banner -->
                        <ins class="adsbygoogle"
                             style="display:inline-block;width:300px;height:250px"
                             data-ad-client="ca-pub-6575239088642506"
                             data-ad-slot="8243327678"></ins>
                        <script>
                             (adsbygoogle = window.adsbygoogle || []).push({});
                        </script>
                    </div>
                    @*<div class="single_blog_sidebar wow fadeInUp">
                        <h2>Đọc Nhiều Nhất</h2>
                        <ul class="middlebar_nav wow">
                            @foreach (var item in ViewBag.ppl)
                            {
                                var link = "/" + TinTucMoiNhat.Config.getCatName(item.cat_id) + "/" + TinTucMoiNhat.Config.unicodeToNoMark(item.name) + "-" + item.id;
                                <li><a class="mbar_thubnail" href="@link"><img src="@item.image" alt=""></a><a class="mbar_title" href="@link">@item.name</a> </li>
                            }
                        </ul>
                    </div>*@
                   
                </div>
            </div>
        </div>
    </div>
</div>