@model PagedList.IPagedList<TinTucMoiNhat.Models.news>
@using PagedList.Mvc;
@{
    ViewBag.Title = ViewBag.catfullname + " trang " + ViewBag.pg;
    Layout = "~/Views/Shared/_Layout.cshtml";
    int count = 0;
}
@section metatags {
    <meta name="description" content="tin tuc, doc bao, bao moi, tin moi, 24h, tin nhanh, tin tuc 24h, @ViewBag.catfullname trang @ViewBag.pg">
    <meta name="keywords" content="tin tuc, doc bao, bao moi, tin moi, 24h, tin nhanh, tin tuc 24h, @ViewBag.catfullname trang @ViewBag.pg">
    <meta name="author" content="">
    <meta name="robots" content="index,follow,noodp">
    <meta property="fb:app_id" content="1930351307185969" />
    <meta property="og:locale" content="vi_VN">
    <meta property="og:type" content="tin tức">
    <meta property="og:url" content="http://tintucmoinhat.vn/@ViewBag.catname-@ViewBag.cat_id/@ViewBag.pg">
    <meta property="og:title" content="@Html.Raw(ViewBag.Title)">
    <meta property="og:description" content="tin tuc, doc bao, bao moi, tin moi, 24h, tin nhanh, tin tuc 24h, @ViewBag.catfullname trang @ViewBag.pg">
    <meta property="og:image" itemprop="thumbnailUrl" content="http://tintucmoinhat.vn/content/images/tin.png">
}
<style>
    .row-no-gutter {
        margin-right: 0;
        margin-left: 0;
    }

        .row-no-gutter [class*="col-"] {
            padding-right: 0;
            padding-left: 0;
        }


    #card {
        background: #fff;
        position: relative;
        -webkit-box-shadow: 0px 1px 10px 0px rgba(207,207,207,1);
        -moz-box-shadow: 0px 1px 10px 0px rgba(207,207,207,1);
        box-shadow: 0px 1px 10px 0px rgba(207,207,207,1);
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

    .city-selected {
        position: relative;
        overflow: hidden;
        min-height: 200px;
        background: #3D6AA2;
    }

    article {
        position: relative;
        z-index: 2;
        color: #fff;
        padding: 20px;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-align-content: flex-start;
        -ms-flex-line-pack: start;
        align-content: flex-start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
    }

    .info .city,
    .night {
        font-size: 24px;
        font-weight: 200;
        position: relative;
        -webkit-order: 0;
        -ms-flex-order: 0;
        order: 0;
        -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
        -webkit-align-self: auto;
        -ms-flex-item-align: auto;
        align-self: auto;
    }

      

    .city span {
        color: #fff;
        font-size: 13px;
        font-weight: bold;
        text-transform: lowercase;
        text-align: left;
    }

    .night {
        font-size: 15px;
        text-transform: uppercase;
    }

    .icon {
        width: 84px;
        height: 84px;
        -webkit-order: 0;
        -ms-flex-order: 0;
        order: 0;
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        -webkit-align-self: center;
        -ms-flex-item-align: center;
        align-self: center;
        overflow: visible;
    }


    .temp {
        font-size: 73px;
        display: block;
        position: relative;
        font-weight: bold;
        padding-top:5px;
    }

    svg {
        color: #fff;
        fill: currentColor;
    }


    .wind svg {
        width: 18px;
        height: 18px;
        margin-top: 20px;
        margin-right: 10px;
        vertical-align: bottom;
    }

    .wind span {
        font-size: 13px;
        text-transform: uppercase;
    }

    .city-selected:hover figure {
        opacity: 0.4;
    }


    figure {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background-position: center;
        background-size: cover;
        opacity: 0.1;
        z-index: 1;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

    .days .row [class*="col-"]:nth-child(2) .day {
        border-width: 0 1px 0 1px;
        border-style: solid;
        border-color: #eaeaea;
    }

    .days .row [class*="col-"] {
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

        .days .row [class*="col-"]:hover {
            background: #eaeaea;
        }

    .day {
        padding: 10px 0px;
        text-align: center;
    }

        .day h1 {
            font-size: 14px;
            text-transform: uppercase;
            margin-top: 10px;
        }

        .day svg {
            color: #000;
            width: 32px;
            height: 32px;
        }
</style>
<link href="/Content/new/owl-carousel/owl.carousel.css" rel="stylesheet">
<link rel="stylesheet" href="/Content/new/font-awesome-4.4.0/css/font-awesome.min.css" type="text/css">
<link rel="stylesheet" href="/Content/new/css/style.css">
@*<section id="contentbody" style="padding: 15px 0 22px;">*@
    <div class="container">
        <div id="owl-slide" class="owl-carousel" style="display:block;">
            @foreach (var item in Model)
            {
                var link = "/" + TinTucMoiNhat.Config.getCatName(item.cat_id) + "/" + TinTucMoiNhat.Config.unicodeToNoMark(item.name) + "-" + item.id;
                count++;
                <div class="item">
                    <div class="zoom-container">
                        <div class="zoom-caption">
                                <a href="@link">&nbsp;</a>
                                <div class="zoom-caption-inner">
                                    <span>@TinTucMoiNhat.Config.getHost(item.link)</span>
                                    <div class="date-feat">
                                        <i class="fa fa-clock-o"></i>
                                        @String.Format("{0:dd/MM/yyyy hh:mm tt}", @item.date_time)
                                    </div>
                                    <h5 style="color:#ffffff;">@item.name</h5>
                                </div>
                        </div>
                        <img src="@item.image" alt="@item.name" style="height:300px;" onclick="gotolink('@link')"/>                      
                    </div>
                </div>
                if (count >= 10) { break; }
            }
        </div>
    </div>
@*</section>*@
<script src="/Content/new/owl-carousel/owl.carousel.js"></script>
<script>
    $(document).ready(function () {
        $("#owl-slide").owlCarousel({
            autoPlay: 3000,
            items: 4,
            itemsDesktop: [1199, 4],
            itemsDesktopSmall: [979, 3],
            itemsTablet: [768, 2],
            itemsMobile: [479, 1],
            navigation: true,
            navigationText: ['<i class="fa fa-chevron-left fa-5x"></i>', '<i class="fa fa-chevron-right fa-5x"></i>'],
            pagination: false
        });
    });
    function gotolink(link){
        window.location.href = link;
    }
</script>
<div class="container">    
    <div class="row">
        <div class=" col-sm-12 col-md-6 col-lg-6">
            <div class="row">
                <div class="leftbar_content">
                    <h2>@ViewBag.catfullname</h2>
                    @{count = 0;}
                    @foreach (var item in Model)
                    {
                        count++;
                        if (count <= 10) { continue; }
                        var link = "/" + TinTucMoiNhat.Config.getCatName(item.cat_id) + "/" + TinTucMoiNhat.Config.unicodeToNoMark(item.name) + "-" + item.id;
                        <div class="single_stuff wow fadeInDown" style="min-height:250px;">
                            <div class="single_stuff_img"> <a href="@link"><img src="@item.image" style="max-height:350px;width:100%;" alt="@item.name"></a> </div>
                            <div class="single_stuff_article">
                                <div class="single_sarticle_inner">
                                    <a class="stuff_category" href="#">@TinTucMoiNhat.Config.getHost(item.link)</a>
                                    <div class="stuff_article_inner">
                                        @if (item.pdf!=null) {<span class="stuff_date"><a href="@item.pdf"><img src="~/Content/images/pdf.png" style="width:32px;height:32px;"></a></span>}
                                        <h2><a href="@link">@item.name</a></h2>
                                        <p>lúc @String.Format("{0:dd/MM/yyyy hh:mm tt}", @item.date_time)</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="stuffpost_paginatinonarea wow slideInLeft">
                        <ul class="newstuff_pagnav">
                            @for (int pg = 1; pg < 10; pg++)
                            {
                                <li><a href="/@ViewBag.catname-@ViewBag.cat_id/@pg">@pg</a></li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class=" col-sm-12 col-md-6 col-lg-6">
            <div class="row">
                <div class="leftbar_content">
                    @for (int i = 0; i < 5; i++)
                    {

                        if (i != ViewBag.cat_id)
                        {
                            Html.RenderAction("TopCatPage", new { cat_id = i, no_cat_id = ViewBag.cat_id });
                        }

                    }
                    @{
                        Html.RenderAction("TopCatPage", new { cat_id = 999, no_cat_id = ViewBag.cat_id });
                    }
                </div>
                <div class="leftbar_content">
                    <h6 ><a href="/du-bao-thoi-tiet/all/@Config.datetimeid()">Dự Báo Thời Tiết</a></h6>
                    @{
                        int datetimeid = Config.datetimeid();
                        string hanoi="ha-noi";
                        string tphcm = "ho-chi-minh";
                        Html.RenderAction("TopWeather", new { location = hanoi, dateid =datetimeid });
                        Html.RenderAction("TopWeather", new { location = tphcm, dateid = datetimeid });
                      }
                    <div style="float:right" class="col-sm-12"><a class="mbar_thubnail" href="/du-bao-thoi-tiet/all/@Config.datetimeid()" style="float:right">Xem 63 tỉnh thành<span class="glyphicon glyphicon-menu-right"></span></a></div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-2 col-lg-2">
            <div class="row">
                <div class="middlebar_content">
                    <h2 class="yellow_bg">Tin Facebook</h2>
                    <div class="middlebar_content_inner wow fadeInUp">
                        <ul class="middlebar_nav">
                            @foreach (var item in ViewBag.facebook)
                            {
                                var link = "/fanpost/bai-viet/" + TinTucMoiNhat.Config.unicodeToNoMark(item.domain_name) + "-" + item.id;
                                <li><a class="mbar_thubnail" href="@link"><img src="@item.image" alt=""></a><a class="mbar_title" href="@link">@Config.smoothTitle(@item.message)</a> </li>
                            }
                        </ul>
                    </div>
                    <h2 class="yellow_bg"><a href="/thong-tin-doanh-nghiep/all-0/6/1">Thông tin Doanh nghiệp</a></h2>
                    <div class="middlebar_content_inner wow fadeInUp">
                        <ul class="middlebar_nav">
                            @foreach (var item in ViewBag.product)
                            {
                                var link = "/fanpost/bai-viet/" + TinTucMoiNhat.Config.unicodeToNoMark(item.domain_name) + "-" + item.id;
                                <li><a class="mbar_thubnail" href="@link"><img src="@item.image" alt=""></a><a class="mbar_title" href="@link">@Config.smoothTitle(@item.message)</a> </li>
                            }
                        </ul>
                    </div>                    
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="row">
                <div class="rightbar_content">
                    <div class="single_blog_sidebar wow fadeInUp">
                        <h2>Quảng cáo</h2>
                        
                        <div class="stuff_article_inner"  style="background: none repeat scroll 0 0 #09c;color:#ffffff;"><p style="padding:5px 5px 5px 5px;">Liên hệ đặt banner quảng cáo</p><p style="padding:5px 5px 5px 5px;">Phone:<a href="tel:0979776427" style="color:yellow;">0979776427</a>, Email vnnvh80@gmail.com</p></div>
                        <iframe width="100%" height="695" src="https://lap.lazada.com/banner/dynamic.php?banner_id=5997d32af22d1&theme=3&p=6" frameborder="0" scrolling="no"></iframe>
                        @*<script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US&adInstanceId=3962e99d-d796-4701-97de-c298745573bd"></script>*@
                        
                    </div>
                    <div class="single_blog_sidebar wow fadeInUp">
                        <h2>Video Giải Trí</h2>
                        <ul class="middlebar_nav">
                            @foreach (var item in ViewBag.youtube)
                            {
                                var link = "/youtube/video/" + TinTucMoiNhat.Config.unicodeToNoMark(item.name) + "-" + item.id;
                                <li>
                                    @*<div class="clearfix _5x46 _4d-l"><a class="_5pb8 _29h _303" href="@link" aria-hidden="true" tabindex="-1" target="_blank" data-ft="{&quot;tn&quot;:&quot;\u003C&quot;}"><div class="_38vo"><img class="_s0 _4ooo _5xib _5sq7 _44ma _rw img" src="@item.avatar" alt="" aria-label="@item.domain_name" role="img"></div></a><div class="_302"><span><a href="@link" target="_blank"><i class="img sp_post-plugin sx_post-plugin_favicon"></i></a></span></div><div class="_3dp _29k"><div><div class="_6a"><div class="_6a _6b" style="height:40px"></div><div class="_6a _6b"><div class="_2_79 _50f4 _50f7">@item.domain_name<span class="_56_f _5dzy _5dz_ _3twv"></span></div><a class="_39g5" href="@link" target="_blank"><abbr title="@item.create_time" data-utime="1500484582" class="timestamp"><span class="timestampContent">@item.create_time</span></abbr></a></div></div></div></div></div>*@
                                    @*<iframe width="100%" height="315" src="https://www.youtube.com/embed/@item.id_video" frameborder="0" allowfullscreen></iframe>*@
                                    <img src="@item.image" alt="@item.name" style="width:100%;height:180px;">
                                    <a class="mbar_title" href="@link">@item.name</a>
                                </li>
                            }
                        </ul>
                    </div>
                    <div class="single_blog_sidebar wow fadeInUp">
                        <h2>Đọc Nhiều Nhất</h2>
                        <ul class="middlebar_nav wow">
                            @foreach (var item in ViewBag.ppl)
                            {
                                var link = "/" + TinTucMoiNhat.Config.getCatName(item.cat_id) + "/" + TinTucMoiNhat.Config.unicodeToNoMark(item.name) + "-" + item.id;
                                <li><a class="mbar_thubnail" href="@link"><img src="@item.image" alt=""></a><a class="mbar_title" href="@link">@item.name</a> </li>
                            }
                          
                        </ul>
                    </div>
                    <div class="single_blog_sidebar wow fadeInUp">
                        <h2 class="yellow_bg">Mới nhất</h2>
                        
                            <ul class="middlebar_nav">
                                @foreach (var item in ViewBag.news)
                                {
                                    var link = "/" + TinTucMoiNhat.Config.getCatName(item.cat_id) + "/" + TinTucMoiNhat.Config.unicodeToNoMark(item.name) + "-" + item.id;
                                    <li><a class="mbar_thubnail" href="@link"><img src="@item.image" alt=""></a><a class="mbar_title" href="@link">@item.name</a> </li>
                                }
                            </ul>
                       
                    </div>
                </div>
            </div>
        </div>
        @*<div class="col-sm-12 col-md-12">
            <a href="https://www.accuweather.com/vi/us/new-york-ny/10007/current-weather/349727" class="aw-widget-legal">
            </a><div id="awtd1503498539282" class="aw-widget-36hour" data-locationkey="" data-unit="c" data-language="vi" data-useip="true" data-uid="awtd1503498539282" data-editlocation="true"></div>
            <script type="text/javascript" src="https://oap.accuweather.com/launch.js"></script>
        </div>*@
    </div>
</div>
