@model PagedList.IPagedList<TinTucMoiNhat.Models.news>
@using PagedList.Mvc;
@{
    ViewBag.Title = ViewBag.catfullname + " trang " + ViewBag.pg;
    Layout = "~/Views/Shared/_Layout.cshtml";
    int count = 0;
}
@section metatags {
    <meta name="description" content="tin tuc, doc bao, bao moi, tin moi, 24h, tin nhanh, tin tuc 24h, @ViewBag.catfullname trang @ViewBag.pg">
    <meta name="keywords" content="tin tuc, doc bao, bao moi, tin moi, 24h, tin nhanh, tin tuc 24h, @ViewBag.catfullname trang @ViewBag.pg">
    <meta name="author" content="">
    <meta name="robots" content="index,follow,noodp">
    <meta property="fb:app_id" content="1930351307185969" />
    <meta property="og:locale" content="vi_VN">
    <meta property="og:type" content="tin tức">
    <meta property="og:url" content="http://tintucmoinhat.vn/@ViewBag.catname-@ViewBag.cat_id/@ViewBag.pg">
    <meta property="og:title" content="@Html.Raw(ViewBag.Title)">
    <meta property="og:description" content="tin tuc, doc bao, bao moi, tin moi, 24h, tin nhanh, tin tuc 24h, @ViewBag.catfullname trang @ViewBag.pg">
    <meta property="og:image" itemprop="thumbnailUrl" content="http://tintucmoinhat.vn/content/images/tin.png">
}
<link href="/Content/new/owl-carousel/owl.carousel.css" rel="stylesheet">
<link rel="stylesheet" href="/Content/new/font-awesome-4.4.0/css/font-awesome.min.css" type="text/css">
<link rel="stylesheet" href="/Content/new/css/style.css">
<section id="contentbody" style="padding: 15px 0 22px;">
    <div class="container">
        <div id="owl-slide" class="owl-carousel" style="display:block;">
            @foreach (var item in Model)
            {
                var link = "/" + TinTucMoiNhat.Config.getCatName(item.cat_id) + "/" + TinTucMoiNhat.Config.unicodeToNoMark(item.name) + "-" + item.id;
                count++;
                <div class="item">
                    <div class="zoom-container">
                        <div class="zoom-caption">
                            <a href="@link"></a>
                            <div class="zoom-caption-inner">
                                <span>@TinTucMoiNhat.Config.getHost(item.link)</span>
                                <div class="date-feat">
                                    <i class="fa fa-clock-o"></i>
                                    @item.date_time
                                </div>
                                <h4 style="color:#ffffff;">@item.name</h4>
                            </div>
                        </div>
                        <img src="@item.image" style="height:300px;"/>
                    </div>
                </div>
                if (count >= 10) { break; }
            }
        </div>
    </div>
</section>
<div class="container">    
    <div class="row">
        <div class=" col-sm-12 col-md-6 col-lg-6">
            <div class="row">
                <div class="leftbar_content">
                    <h2>@ViewBag.catfullname</h2>
                    @{count = 0;}
                    @foreach (var item in Model)
                    {
                        count++;
                        if (count <= 10) { continue; }
                        var link = "/" + TinTucMoiNhat.Config.getCatName(item.cat_id) + "/" + TinTucMoiNhat.Config.unicodeToNoMark(item.name) + "-" + item.id;
                        <div class="single_stuff wow fadeInDown" style="min-height:250px;">
                            <div class="single_stuff_img"> <a href="@link"><img src="@item.image" style="max-height:350px;width:100%;"></a> </div>
                            <div class="single_stuff_article">
                                <div class="single_sarticle_inner">
                                    <a class="stuff_category" href="#">@TinTucMoiNhat.Config.getHost(item.link)</a>
                                    <div class="stuff_article_inner">
                                        @if (item.pdf!=null) {<span class="stuff_date"><a href="@item.pdf"><img src="~/Content/images/pdf.png" style="width:32px;height:32px;"></a></span>}
                                        <h2><a href="@link">@item.name</a></h2>
                                        <p>lúc @item.date_time</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="stuffpost_paginatinonarea wow slideInLeft">
                        <ul class="newstuff_pagnav">
                            @for (int pg = 1; pg < 10; pg++)
                            {
                                <li><a href="/@ViewBag.catname-@ViewBag.cat_id/@pg">@pg</a></li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class=" col-sm-12 col-md-6 col-lg-6">
            <div class="row">
                <div class="leftbar_content">
                    @for (int i = 0; i < 5; i++)
                    {

                        if (i != ViewBag.cat_id)
                        {
                            Html.RenderAction("TopCatPage", new { cat_id = i, no_cat_id = ViewBag.cat_id });
                        }

                    }
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-2 col-lg-2">
            <div class="row">
                <div class="middlebar_content">
                    <h2 class="yellow_bg">Tin Facebook</h2>
                    <div class="middlebar_content_inner wow fadeInUp">
                        <ul class="middlebar_nav">
                            @foreach (var item in ViewBag.facebook)
                            {
                                var link = "/fanpost/bai-viet/" + TinTucMoiNhat.Config.unicodeToNoMark(item.domain_name) + "-" + item.id;
                                <li><a class="mbar_thubnail" href="@link"><img src="@item.image" alt=""></a><a class="mbar_title" href="@link">@Config.smoothTitle(@item.message)</a> </li>
                            }
                        </ul>
                    </div>
                    <h2 class="yellow_bg">Mới nhất</h2>
                    <div class="middlebar_content_inner wow fadeInUp">
                        <ul class="middlebar_nav">
                            @foreach (var item in ViewBag.news)
                            {
                                var link = "/" + TinTucMoiNhat.Config.getCatName(item.cat_id) + "/" + TinTucMoiNhat.Config.unicodeToNoMark(item.name) + "-" + item.id;
                                <li><a class="mbar_thubnail" href="@link"><img src="@item.image" alt=""></a><a class="mbar_title" href="@link">@item.name</a> </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="row">
                <div class="rightbar_content">
                    <div class="single_blog_sidebar wow fadeInUp">
                        <h2>Quảng cáo</h2>
                        
                        <div class="stuff_article_inner"  style="background: none repeat scroll 0 0 #09c;color:#ffffff;"><p style="padding:5px 5px 5px 5px;">Liên hệ đặt banner quảng cáo</p><p style="padding:5px 5px 5px 5px;">Phone:<a href="tel:0979776427" style="color:yellow;">0979776427</a>, Email vnnvh80@gmail.com</p></div>
                       
                        <script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US&adInstanceId=3962e99d-d796-4701-97de-c298745573bd"></script>
                        
                    </div>
                    <div class="single_blog_sidebar wow fadeInUp">
                        <h2>Video Giải Trí</h2>
                        <ul class="middlebar_nav">
                            @foreach (var item in ViewBag.youtube)
                            {
                                var link = "/youtube/video/" + TinTucMoiNhat.Config.unicodeToNoMark(item.name) + "-" + item.id;
                                <li>
                                    @*<div class="clearfix _5x46 _4d-l"><a class="_5pb8 _29h _303" href="@link" aria-hidden="true" tabindex="-1" target="_blank" data-ft="{&quot;tn&quot;:&quot;\u003C&quot;}"><div class="_38vo"><img class="_s0 _4ooo _5xib _5sq7 _44ma _rw img" src="@item.avatar" alt="" aria-label="@item.domain_name" role="img"></div></a><div class="_302"><span><a href="@link" target="_blank"><i class="img sp_post-plugin sx_post-plugin_favicon"></i></a></span></div><div class="_3dp _29k"><div><div class="_6a"><div class="_6a _6b" style="height:40px"></div><div class="_6a _6b"><div class="_2_79 _50f4 _50f7">@item.domain_name<span class="_56_f _5dzy _5dz_ _3twv"></span></div><a class="_39g5" href="@link" target="_blank"><abbr title="@item.create_time" data-utime="1500484582" class="timestamp"><span class="timestampContent">@item.create_time</span></abbr></a></div></div></div></div></div>*@
                                    @*<iframe width="100%" height="315" src="https://www.youtube.com/embed/@item.id_video" frameborder="0" allowfullscreen></iframe>*@
                                    <img src="@item.image" alt="@item.name" style="width:100%;height:180px;">
                                    <a class="mbar_title" href="@link">@item.name</a>
                                </li>
                            }
                        </ul>
                    </div>
                    <div class="single_blog_sidebar wow fadeInUp">
                        <h2>Đọc Nhiều Nhất</h2>
                        <ul class="middlebar_nav wow">
                            @foreach (var item in ViewBag.ppl)
                            {
                                var link = "/" + TinTucMoiNhat.Config.getCatName(item.cat_id) + "/" + TinTucMoiNhat.Config.unicodeToNoMark(item.name) + "-" + item.id;
                                <li><a class="mbar_thubnail" href="@link"><img src="@item.image" alt=""></a><a class="mbar_title" href="@link">@item.name</a> </li>
                            }
                          
                        </ul>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
